<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084204919969-rn3vncevjmsei7i19aoi67aro215m6j2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084204919969-rn3vncevjmsei7i19aoi67aro215m6j2</string>
	<key>API_KEY</key>
	<string>AIzaSyB7pMtglrESt6-pJ1ByNiW5Cj8yI_HPdnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1084204919969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exploringswift.SIWAFirebase</string>
	<key>PROJECT_ID</key>
	<string>siwa-b7d4b</string>
	<key>STORAGE_BUCKET</key>
	<string>siwa-b7d4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084204919969:ios:4619bdd2c4ac2f43a314e0</string>
</dict>
</plist>